@import '../../../Variables.scss';

.photoBy{
    position: absolute;
    z-index : 100;
    bottom: 22px;
    right: 22px;
    font-family: $fontStyle2;
    color: white;
    text-shadow: 1px 1px 1px black;
}