@import '../../Variables.scss';

.projectsCont{
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-family: $fontStyle1;
    overflow: auto;
    display: flex;
    align-items: safe center;
    &:before{
        content: "";
        background: url('../../assets/park.jpg'); 
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px; 
        bottom: 0px;
        filter: blur(5px);
        transform: scale(1.1);
        z-index: -1;
    }
    .middleCard{
        width: 90%;
        background-color: #ffffffe3;
        margin: 0 auto;
        min-height: 90vh;
        padding: 22px;
        border-radius: 5px;
        margin: auto;
        h1{
            text-align: center;
            margin-bottom: 22px;
            font-size: $size4;
            font-family: $fontStyle2;

        }
        .catFlex{
            display: flex;
            justify-content: center;
            .catCont{
                position: relative;
                display: inline-block;
                margin: 0 auto;
                svg{
                    position: absolute;
                    right: 5px;
                }
                select{
                    border: none;
                    border-bottom: 1px solid grey;
                    background: transparent;
                    padding: 2px 15px 2px 0px;
                    border-radius: 0px;
                    text-align: left;
                    font-size: 1rem;
                    font-family: $fontStyle1;
                }
    
            }

        }
    }
}