@import '../../Variables.scss';
.landingCont{
    font-family: $fontStyle1;
    height: 100%;
    position: relative;
    background-image: url('../../assets/landing_image.jpeg');
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    background-attachment: fixed;
    .landingTitle{
        width: 100%;
        text-align: center;
        position: relative;
        z-index: 10;
        h1{
            width: 100%;
            font-weight: bolder;
            font-size: 3rem;
            color: $accent2;
            text-shadow: 4px 6px 10px black;
            margin-bottom: 22px;
            padding-top: 5vh;
            position: relative;
            
        }
        h2{
            font-weight: bolder;
            font-size: 1.5rem;
            color: $accent3;
            font-family: $fontStyle2;
        }
    }
    .verticle{
        display: flex;
        justify-content: center;
        width: 100%;   
        height: 75%; 
        .verticleFlex{
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .v-line{
                border-left: 2px solid $accent1;
                height: 100px;
            }
            .linkBox{
                width: 200px;
                // backdrop-filter: blur(5px);
                position: relative;
                overflow: hidden;
                height: 185px;
                a{
                    color: black;
                    text-decoration: none;
                    display:block;
                    transition: transform 0.2s linear;
                    border-left: 2px solid $accent1;
                    border-right: 2px solid $accent1;
                    padding: 20px;
                    text-align: center;
                    margin-bottom: -2px;
                    font-size: $size1;
                    background-color: transparent;
                    transition: background-color 0.2s linear;
                    overflow: hidden;
                    position: relative;
                    &:after {
                        background: #fff;
                        content: "";
                        height: 155px;
                        left: -75px;
                        opacity: .2;
                        position: absolute;
                        top: -50px;
                        transform: translate(0px) rotate(35deg);
                        transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                        width: 50px;
                        z-index: 1;
                    }
                    &:first-child{
                        border-top: 2px solid $accent1;
                    }
                    &:last-child{
                        border-bottom: 2px solid $accent1;
                    }
                    &:hover a{
                        transform: translate(3px);
                    }
                    &:hover{
                        cursor: pointer;
                        background-color: #5d99ee29;
                        &:after {
                            transform: translate(310px) rotate(35deg);
                            
                        }
                    }
                }
                &:before{
                    content: "";
                    background: url('../../assets/landing_image.jpeg'); 
                    background-attachment: fixed;
                    background-size: cover;
                    background-position: center;
                    position: absolute;
                    left: -5px;
                    right: -5px;
                    top: -5px; 
                    bottom: -5px;
                    filter: blur(5px);
                }

                
            }
        }
        @media screen and (max-height : 625px){
            height: auto;
            margin-top: 10vh;
            .v-line{
                display: none;
            }
        }

    }
    @media screen and (min-width : $breakMedium){
        .landingTitle{
            margin: 0 auto;
            h1{
                font-size: 84px;
            }
        }

    }
}

