@import '../../Variables.scss';

.adminCont{
    height: 100%;
    font-family: $fontStyle2;
    overflow: auto;
    .lds-ring{
        position: relative;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        div{
            position: absolute;
        }
    }
    .loginCont{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .loginBox{
            border: 1px solid #bfbfbf;
            padding: 0 44px;
            border-radius: 5px;
            box-shadow: 0px 0px 30px -10px #656565;
            width: 300px;
            span{
                text-align: center;
                display: block;
                color: red;
                position: relative;
                bottom: 11px;
            }
            div{
                margin: 44px 0;
                label{
                    display: block;
                    margin-bottom: 11px;
                }
                input{
                    font-size: 16px;
                    border: 1px solid #e6e6e8;
                    border-radius: 5px;
                    padding: 5px 10px;
                    background-color: #fafbfd;
                    width: 100%;
                }
            }
            button{
                margin: 0 auto 22px auto;
                display: block;
                background-color: $accent1;
                border: none;
                width: 100%;
                font-size: 16px;
                padding: 10px 0px;
                border-radius: 5px;
                font-family: $fontStyle1;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .loggedCont{
        padding: 44px 0;
        background-color: #dcdcdc;
        .deleteConfirm{
            background-color: #000000b8;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 100;
            .confirmFrame{
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                width: 300px;
                background-color: white;
                padding: 44px;
                border-radius: 10px;
                p{
                    font-size: $size1;
                    margin: 11px 0;
                    text-align: center;
                }
                .title{
                    color: grey;
                    font-size: 16px;
                    font-style: italic;
                }
                div{
                    margin-top: 44px;
                    display: flex;
                    justify-content: space-around;
                    .lds-ring{
                        margin-top: 0;
                    }
                    button{
                        font-size: 16px;
                        padding: 10px 15px;
                        border-radius: 5px;
                        font-family: $fontStyle1;
                        display: block;
                        background-color: $accent1;
                        border: none;
                        &:hover{
                            cursor: pointer;
                        }
                        &:nth-child(2){
                            background-color: #adadad;
                        }
                    }
                }
            }
        }
        .controlBox{
            max-width: 500px;
            margin: 0 auto;
            padding: 44px;
            border: 1px solid #b3b3b3;
            box-shadow: 0px 0px 30px -10px #656565;
            border-radius: 10px;
            background-color: white;
            h2{
                font-size: $size1;
                margin-bottom: 44px;
            }
            input{
                width: 100%;
                font-size: 16px;
                padding: 5px;
                box-shadow: 0px 3px 20px -9px grey;
                border-radius: 5px;
                border: 1px solid grey;
            }
            .control{
                width: 80%;
                margin: 0 auto 44px auto;
                border-bottom: 1px solid black;
                padding-bottom: 44px;
                p{
                    margin: 11px auto;
                    text-align: center;
                    word-break: break-word;
                }
                button{
                    background-color: $accent1;
                    border: none;
                    padding: 5px 10px;
                    font-family: $fontStyle1;
                    font-size: $size1;
                    margin: 0 auto;
                    display: block;
                    border-radius: 5px;
                    &:hover{
                        cursor: pointer;
                    }
                    &:disabled{
                        cursor: no-drop;
                    }
                }
                div{
                    margin: 33px 0;
                    position: relative;
                    label{
                        display: block;
                        margin-bottom: 11px;
                        color: $accent1;
                        span{
                            color: red;
                        }
                    }
                    textarea{
                        width: 100%;
                        resize: vertical;
                        box-shadow: 0px 3px 20px -9px grey;
                        border-radius: 5px;
                        padding: 5px;

                    }
                    .newType{
                        width: 50%;
                        display: block;
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        display: none;
                    }
                }
                .links{
                    padding: 11px;
                    border: 1px solid grey;
                    border-radius: 5px;
                    box-shadow: 0px 3px 20px -9px grey;
                    span{
                        color: red;
                    }
                    svg{
                        margin-right: 44px;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    input{
                        margin-bottom: 22px;
                        box-shadow: none;
                    }
                }
                .images{
                    box-shadow: 0px 3px 20px -9px grey;
                    border-radius: 5px;
                    border: 1px solid grey;
                    padding: 11px;
                    .addImage{
                        display: inline-block;
                        padding: 5px 10px;
                        text-align: center;
                        border-radius: 5px;
                        color: black;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    input{
                        border: none;
                        box-shadow: none;
                        display: none;
                    }
                    .imgCont{
                        position: relative;
                        span{
                            position: absolute;
                            padding: 6px 8px 9px 11px;
                            background: #ffffff;
                            right: 0;
                            border-bottom-left-radius: 28px;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                        img{
                            width: 100%;
                        }
    
                    }
                }
            }
            .deleteProject{
                .proj{
                    position: relative;
                    border: 1px solid grey;
                    padding: 22px;
                    border-radius: 10px;
                    box-shadow: 0px 3px 20px -9px grey;
                    margin: 55px auto;
                    button{
                        margin: 22px 0 0 auto;
                        font-size: 16px;
                    }
    
                }
            }

        }
    }
}