@import '../../Variables.scss';
.aboutCont{
    display: flex;
    align-items: center;
    background-image: url('../../assets/DSC_0175.jpg');
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    background-attachment: fixed;
    // overflow: scroll;
    .middleCard{
        display: flex;
        flex-direction: column;
        .imgSide{
            display: block;
            padding: 33px;
            background-color: white;
            h1{
                font-family: $fontStyle2;
                font-weight: bolder;
                font-size: $size3;
                padding-bottom: 10px;
            }
            img{
                width: 100%;
                display: block;
                box-shadow: 0px 0px 16px 0px grey;
                border-radius: 5px;
            }
        }
        .contentSide{
            background-color: #fdd3f654;
            z-index: 100;
            opacity: 1;
            position: relative;
            height: 100%;
            .content{
                font-family: $fontStyle1;
                line-height: 1.3rem;
                padding: 33px;
                font-weight: 600;
                text-shadow: 0px 0px 15px white;
                position: relative;
                overflow: hidden;
                background-color: #fdd3f65e;
                height: 100%;
            }
            &:before{
                content: "";
                background: url('../../assets/DSC_0175.jpg'); 
                background-attachment: fixed;
                background-size: cover;
                background-position: center;
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px; 
                bottom: 0px;
                filter: blur(5px);
                z-index: -1;
            }
        }
    }
    @media screen and (min-width: $breakSmall){
        .middleCard{
            width: 80%;
            margin: 44px auto 44px auto;
            .imgSide{
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
            }
        }
        .contentSide{
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            .content{
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
    @media screen and (min-width:$breakLarge){
        height: 100vh;
        .middleCard{
            margin: 0 auto;
            flex-direction: row;
            position: relative;
            height: auto;
            .imgSide{
                border-bottom-left-radius: 5px;
                border-top-right-radius: 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 22px;
                
            }
            .contentSide{
                height: inherit;
                border-top-right-radius: 5px;
                border-bottom-left-radius: 0px;
                .content{
                    border-top-right-radius: 5px;
                    border-bottom-left-radius: 0px;
                    display: flex;
                    align-items: center;
                    padding: 22px;
                }
            }
        }
    }
    @media screen and (min-width: $breakXLarge){
        .middleCard{
            width: 1000px;
        }
    }
}