@import "../../Variables.scss";
.aboutCont {
    height: 100%;
    overflow: auto;
    background-image: url("../../assets/DSC_0175.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .contPage{
        display: flex;
        position: relative;
        .middleCard {
            display: flex;
            flex-direction: column;
            max-width: 1288px;
            position: relative;
    
            .imgSide {
                display: block;
                padding: 33px;
                background-color: white;
                h1 {
                    font-family: $fontStyle2;
                    font-weight: bolder;
                    font-size: $size3;
                    padding-bottom: 10px;
                }
                .image {
                    background-image: url("./assets/portrait.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    min-height: 200px;
                    width: 100%;
                }
            }
            .contentSide {
                z-index: 1;
                opacity: 1;
                height: 100%;
                position: relative;
                .photoBy {
                    position: relative;
                    margin: 11px 22px;
                    text-align: right;
                    bottom: unset;
                    right: unset;
                }
                .content {
                    position: relative;
                    font-family: $fontStyle1;
                    line-height: 1.3rem;
                    padding: 33px;
                    font-weight: 600;
                    text-shadow: 0px 0px 30px white;
                    position: relative;
                    overflow: hidden;
                    background-color: #fdd3f65e;
                    &:before {
                        content: "";
                        background: url("../../assets/DSC_0175.jpg");
                        background-attachment: fixed;
                        background-size: cover;
                        background-position: center;
                        position: absolute;
                        left: 0px;
                        right: 0px;
                        top: 0px;
                        bottom: 0px;
                        filter: blur(5px);
                        z-index: -1;
                        height: 100%;
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }

    @media screen and (min-width: $breakSmall) {
        .contPage{
            .middleCard {
                width: 80%;
                margin: 44px auto 0 auto;
                .imgSide {
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    .image {
                        min-height: 400px;
                    }
                }
                .contentSide {
                    margin-bottom: 44px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    .photoBy {
                        position: relative;
                        bottom: -11px;
                        text-align: right;
                        background: unset;
                        right: unset;
                        margin: unset;
                    }
                    .content {
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }

        }
    }
    @media screen and (min-width: $breakLarge) {
        .contPage{
            height: 100vh;
            align-items: safe center;
            .middleCard {
                margin: auto;
                flex-direction: row;
                min-height: min-content;
                .imgSide {
                    border-bottom-left-radius: 5px;
                    border-top-right-radius: 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 22px;
                    .image {
                        min-width: 400px;
                    }
                }
                .contentSide {
                    margin-bottom: unset;
                    height: inherit;
                    border-top-right-radius: 5px;
                    border-bottom-left-radius: 0px;
                    .content {
                        border-top-right-radius: 5px;
                        border-bottom-left-radius: 0px;
                        display: flex;
                        align-items: center;
                        padding: 22px;
                        height: 100%;
                    }
                }
            }

        }
    }
    @media screen and (min-width: $breakXLarge) {
        .contPage{
            .middleCard {
                .imgSide {
                    .image {
                        min-width: 600px;
                    }
                }
            }

        }
    }
}
