@import '../../Variables.scss';

.contactCont{
    font-family: $fontStyle1;
    height: 100vh;
    position: relative;
    line-height: 1.3rem;
    .split{
        height: 100%;
        display: flex;
        .contentSide{
            width: 50%;
            // background-color: $accent1;
            // color: red;
            .content{
                padding: 44px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                h1{
                    margin-bottom: 44px;
                    font-size: $size4;
                    font-weight: bolder;
                    font-family: $fontStyle2;
                }
                p{
                    margin-bottom: 22px;
                }
                ul{
                    margin-bottom: 44px;
                    li{
                        margin: 11px 0;
                        span{
                            color: $accent1;
                        }
                    }
                }
                form{
                    .inputCont{
                        position: relative;
                        label{
                            position: absolute;
                            left: 5px;
                            bottom: 5px;
                            color: #6f6f6f;
                            transition: transform 0.2s linear, color 0.2s linear;
                        }
                        input{
                            padding: 5px;
                            font-size: 1rem;
                            border-top: none;
                            border-right: none;
                            border-left: none;
                            border-bottom: 1px solid $accent1;
                           
                            &:focus{
                                outline: none;
                                label{
                                    color: red;
                                }
                            }
                        }
                        textarea{
                            width: 100%;
                            resize: vertical;
                            padding: 5px;
                            font-size: 1rem;
                            border: 1px solid $accent1;
                            &:focus{
                                outline: none;
                            }
                        }
                        .inputFocused{
                            transform: translate(0px, -24px) scale(0.9);
                            color: black;
                        }

                    }
                    .topForm{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 22px;
                        div{
                            width: 45%;
                            input{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .imageSide{
            width: 50%;
            background-image: url('../../assets/DSC_1356.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}