@import '../../Variables.scss';

.contactCont{
    font-family: $fontStyle1;
    height: 100vh;
    position: relative;
    line-height: 1.3rem;
    overflow: auto;
    .content{
        form{
            .inputCont{
                position: relative;
                label{
                    position: absolute;
                    left: 5px;
                    bottom: 5px;
                    color: #6f6f6f;
                    transition: transform 0.2s linear, color 0.2s linear;
                }
                input{
                    padding: 5px;
                    font-size: 1rem;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-bottom: 1px solid $accent1;
                    background: transparent;
                    
                    &:focus{
                        outline: none;
                        label{
                            color: red;
                        }
                    }
                }
                textarea{
                    width: 100%;
                    resize: vertical;
                    padding: 5px;
                    font-size: 1rem;
                    border: 1px solid $accent1;
                    margin-top: 44px;
                    background: transparent;
                    &:focus{
                        outline: none;
                    }
                }
                .inputFocused{
                    transform: translate(0px, -24px) scale(0.9);
                    color: black;
                }

            }
            .message{
                label{
                    top: 48px;
                    bottom: unset;
                }
            }
            .topForm{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                margin-bottom: 22px;
                div{
                    width: 100%;
                    input{
                        width: 100%;
                    }
                }
                .name{
                    margin-bottom: 44px;
                }
            }
        }
    }
    
    
}