$accent1: #5d9aee;
$accent2 : #fdd3f6;
$accent3 : #1C2D4C;


$size1 : 1.2rem;
$size2 : 1.5rem;
$size3 : 1.7rem;

$fontStyle1 : 'Raleway', sans-serif;
$fontStyle2 : 'Montserrat', sans-serif;

$breakSmall : 600px;
$breakMedium : 750px;