@import "../../Variables.scss";

.navCont {
    position: absolute;
    z-index: 10;
    right: 100px;
    display: none;
    .buttonCont {
        color: white;
        position: fixed;
        svg {
            font-size: $size4;
            position: absolute;
            right: 0;
            path {
                stroke: black;
                stroke-width: 15px;
            }
            &:hover {
                cursor: pointer;
            }
            &:hover + .dropDown {
                max-height: 146px;
            }
        }
        .dropDown {
            position: relative;
            z-index: 100;
            background-color: white;
            border-radius: 5px;
            max-height: 0px;
            overflow: hidden;
            margin-top: 33px;
            transition: max-height 0.2s linear;
            box-shadow: 1px 1px 20px 0px black;
            padding: 0 11px;
            ul {
                font-size: $size2;
                text-align: right;
                li {
                    a {
                        color: black;
                        text-decoration: none;
                        font-family: $fontStyle2;
                        padding: 11px 22px;
                        width: 100%;
                        display: block;
                        border-bottom: 1px solid grey;
                        transition: color 0.2s linear;
                        &:hover {
                            color: $accent1;
                        }
                    }
                    &:last-child {
                        a {
                            border: none;
                        }
                    }
                }
            }
            &:hover {
                max-height: 146px;
            }
        }
    }

    @media screen and (min-width: $breakMedium) {
        display: block;
    }
}

.navMobile {
    position: fixed;
    z-index: 100;
    width: 100vw;
    font-family: $fontStyle2;
    &:hover {
        cursor: pointer;
    }
    .buttonCont {
        display: flex;
        background-color: white;
        transform: translate(calc(100% - 50px));
        border-bottom-left-radius: 5px;
        align-items: center;
        transition: transform 0.3s linear;
        box-shadow: 0px 2px 20px 1px #828181;
        .linkExt {
            display: inline-flex;
            width: 100%;
            ul {
                display: flex;
                align-items: center;
                font-size: $size1;
                justify-content: space-around;
                width: 100%;
                li {
                    a {
                        color: black;
                        text-decoration: none;
                        padding: 11px 5px;
                        display: block;
                    }
                }
            }
        }
        svg {
            font-size: $size4;
            box-sizing: content-box;
            padding: 11px;
        }
    }
    .extndToggle{
        transform: translate(0px);
        border-bottom-left-radius: 0px;
    }
    @media screen and (min-width: $breakMedium) {
        display: none;
    }
}
