@import "../../Variables.scss";

.navCont {
    width: 100%;
    position: absolute;
    z-index: 10;
    font-family: $fontStyle2;
    letter-spacing: 1px;
    font-size: $size1;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s linear;
    ul {
        display: flex;
        padding: 11px 0;
        justify-content: center;
        background-color: $accent2;
        width: 523px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;


        li {
            margin: 0 44px;
            a {
                color: initial;
                text-decoration: none;
                padding: 10px 5px;
            }
        }
    }
}

.navShow{
    opacity: 1;
}
