@import "../../Variables.scss";

.navCont {
    position: absolute;
    z-index: 10;
    right: 100px;
    .buttonCont {
        color: white;
        position: fixed;
        svg {
            font-size: $size4;
            position: absolute;
            right: 0;
            path {
                stroke: black;
                stroke-width: 15px;
            }
            &:hover{
                cursor: pointer;
            }
            &:hover + .dropDown{
                max-height: 146px;
            }
        }
        .dropDown {
            position: relative;
            z-index: 100;
            background-color: white;
            border-radius: 5px;
            max-height: 0px;
            overflow: hidden;
            margin-top: 33px;
            transition: max-height 0.2s linear;
            box-shadow: 1px 1px 20px 0px black;
            padding: 0 11px;
            ul {
                font-size: $size2;
                text-align: right;
                li {
                    a {
                        color: black;
                        text-decoration: none;
                        font-family: $fontStyle2;
                        padding: 11px 22px;
                        width: 100%;
                        display: block;
                        border-bottom: 1px solid grey;
                        transition: color 0.2s linear;
                        &:hover{
                            color: $accent1;
                        }
                    }
                    &:last-child{
                        a{
                            border: none;
                        }
                    }
                }
            }
            &:hover{
                max-height: 146px;
            }
        }
    }
}
